<h2 id="heading">Welcome to On Stage</h2>

<form action="/login" method="POST" accept-charset="utf-8">
	<label for="email">email</label><input type="text" name="email" value="" id="email">
	<label for="api_key">api_key</label><input type="text" name="api_key" value="" id="api_key">
	<p><input type="submit" value="Continue &rarr;"></p>
</form>

<p>No login? <a href="/signup">Sign Up!</a></p>
