<h2>Add yourself to the Noladex</h2>
<form action="/users/create" method="POST" accept-charset="utf-8">
	<label for="name">Name</label><input type="text" name="name" value="" id="name">
	<label for="email">Email</label><input type="text" name="email" value="" id="email">
	<select name="category" id="category">
		<option value="1">designer</option>
		<option value="1">developer</option>
	</select>
	<select name="neighborhood" id="neighborhood">
		<option value="1">uptown</option>
		<option value="2">downtown</option>
	</select>
	<label for="url_1">URL 1</label><input type="text" name="url_1" value="" id="url_1">
	<label for="url_2">URL 2</label><input type="text" name="url_2" value="" id="url_2">
	<label for="url_3">URL 3</label><input type="text" name="url_3" value="" id="url_3">


<p><input type="submit" value="Continue &rarr;"></p>
</form>

