<h2>Sign up for On Stage</h2>

<form action="/signup" method="POST" accept-charset="utf-8">
	<label for="name">name</label><input type="text" name="name" value="" id="name">
	<label for="email">email</label><input type="text" name="email" value="" id="email">
	<label for="api_key">API Key</label><input type="text" name="api_key" value="" id="api_key">
	<p><input type="submit" value="Continue &rarr;"></p>
</form>
