.clear:before, .clear:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clear:after { clear: both; }
.clear { zoom: 1; }

* { 
	margin: 0; 
	padding: 0; 
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.3em;
	background: #fff;
}
a, a:active, a:hover, a:visited { color: #333; text-decoration: none; }
ul, li, ol {
	list-style: none;
	text-decoration: none;
	font-size: 100%;
}
.right {
	display: block;
	float: right;
}
.left {
	display: block;
	float: left;
}

body {
	min-width: 690px;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: url(../images/bg_pattern.png) repeat;
  padding: 14px 40px;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  min-width: 610px;
}
	#topbar #logo {
		width:220px;
		height:32px;
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: middle;
	}
		#topbar #logo a {
			display: block;
			width: 220px;
			height: 32px;
			background: url(../images/noladex_logo.png);
			text-indent: -9999px;
		}
	#topbar #filter {
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: middle;
		padding: 0 10px 0 20px;
	}
		#topbar #filter select {
			font-size: 18px;
			vertical-align: middle;
			margin: 0 5px;
		}
	#topbar #navigation li .add-button {
		text-indent: -9999px;
		background: url(../images/add_button.png) no-repeat center bottom;
		display: block;
		height: 26px;
		width: 127px;
		padding: 0 0 0 10px;
	}
	#topbar #navigation li .add-button:hover { background: url(../images/add_button.png) no-repeat center center; }
	#topbar #navigation li .add-button:active { background: url(../images/add_button.png) no-repeat center top; }
	#topbar #navigation {
		position: relative;
		float: right;
		height: 26px;
		padding: 3px 0;
	}
		#topbar #navigation li {
			display: inline-block;
			vertical-align: middle;
		}
			#topbar #navigation li a {
				padding: 10px;
			}
			#topbar #navigation li a:hover {
				text-decoration: underline;
				color: #000;
			}
#about {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: url(../images/about_pattern.png) repeat;
	color: #fff;
}
	#about #text {
		padding: 40px;
		margin: 0 auto;
		text-align: center;
		width: 540px;
	}
		#about #text .logo {
			background: url(../images/noladex_crescent.png) no-repeat center center;
			width: 100px;
			height: 100px;
			margin: 0 auto 20px;
			text-indent: -9999px;
		}
		#about #text h2 {
			font-size: 30px;
			padding: 20px 0;
		}
		#about #text .square {
			text-align: left;
			border: 1px solid #000;
			box-shadow:			0px 1px 1px rgba(255,255,255,.1);
			-webkit-box-shadow:	0px 1px 1px rgba(255,255,255,.1);
			-moz-box-shadow:	0px 1px 1px rgba(255,255,255,.1);
		}
		#about #text p {
			font-size: 16px;
			padding: 10px 20px;
			line-height: 24px;
		}
			#about #text p a {
				color: #aaa;
			}
			#about #text p a:hover {
				text-decoration: underline;
				color: #ccc;
			}
			#about #text #credits {
				padding: 5px 0;
				line-height: 24px;
			}
			#about #text #credits p {
				float: left;
				font-size: 12px;
				font-style: italic;
				font-family: "Georgia", serif;	
				padding: 0;			
			}
				#about #text #credits a {
					padding: 0 5px;
					font-style: normal;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;									
				}
			#about #text #credits p#counted {
				float: right;
			}
				#about #text #credits p#counted a {
					color: #aaa;
					font-style: italic;
					font-family: "Georgia", serif;									
				}
				#about #text #credits p#counted a:hover {
					color: #ccc;
					text-decoration: underline;
				}
			#about #text #credits #twitbox,
			#about #text #credits #facbok {
				border-bottom: none;
				display: block;
				float: right;
				text-indent: -9999px;
				width: 24px;
				height: 24px;
				float: right;
				margin: 5px 0;
				padding-left: 3px;
			}
				#about #text #twitbox {	background: url(../images/icon_twitter.png) no-repeat center center; right: 20px; }
				#about #text #facbok { 	background: url(../images/icon_facebook.png) no-repeat center center; right: 48px; }
	#about .close-link {
		display: block;
		width: 30px;
		height: 25px;
		background: url(../images/corner.png) no-repeat right center;
		position: absolute;
		right: 20px;
		top: 20px;
		opacity: .7;
		text-indent: -9999px;
	}
	#about .close-link:hover {
		opacity: 1;
	}
#people {
	margin-top: 30px;
	padding: 35px;
	line-height: 0.7;
}
	#people .person {
		width: 250px;
		height: 250px;
		position: relative;
		display: inline-block;
		overflow: hidden;
		background: white;
		margin: 5px;
		text-align: center;
	}
		#people .person img {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			background: url(../images/klonoladex.jpg) no-repeat center center;
		}
		#people .person .overlay {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.9);
			display: none;
			padding: 0 20px;
			color: white;
		}
		#people .person .overlay a {
			color: white;
		}
		#people .person .overlay .tags {
			position: absolute;
			bottom: 30px;
			left: 15px;
			right: 15px;
		}		
		#people .person .tags a {
			background: white;
			color: black;
			padding: 3px 6px;
			text-decoration: none;
			font-size: 12px;
		}
		#people .person .overlay .tag {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 0;
			font-size: 12px;
			line-height: 16px;
		}
		#people .person .overlay .icons {
			padding: 10px 0;
		}		
			#people .person .overlay .icons a {
				display: inline-block;
				width: 20px;
				height: 20px;
				text-indent: -9999px;
				margin-right: 3px;
				opacity: .9;		
			}
			#people .person .overlay .icons a:hover,
			#people .person .overlay .icons a:active {
				opacity: 1;
			}		
			.icons .twitter {
				background: url(../images/twitter_icon.png);
			}
			.icons .link {
				background: url(../images/link_icon.png);
			}
			.icons .email {
				background: url(../images/email_icon.png);
			}

#sign-in {
	width: 300px;
}
	#sign-in .field label {
		width: 50px;
		padding-right: 5px;
		font-family: "Droid Sans", sans-serif;
	}
	#sign-in .field input {
		width: 96%;
		color: #333;
	}		
	#sign-in .field span {
		padding: 4px 0;
	}
	#sign-in .field span a {
		font-size: 11px;
		font-family: "Droid Sans", sans-serif;
		color: #bbb;
	}	
	#sign-in .field span a:hover {
		color: #aaa;
		text-decoration: underline;
	}
	#sign-in .actions .button {
		padding: 6px 14px;
		background: #ddd;
		box-shadow: 		inset 0 1px 1px rgba(255,255,255,.8);
		-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.8);
		-moz-box-shadow: 	inset 0 1px 1px rgba(255,255,255,.8);
		border: 1px solid #bbb;
		color: #555;
		font-size: 14px;
	}
	#sign-in .actions .button:hover {
		color: #333;
		background: #d5d5d5;
		border-color: #aaa;
	}
	#sign-in .actions .button:active {
		border-color: #999;
		background: #d1d1d1;		
		box-shadow: 		inset 0px 1px 3px rgba(0,0,0,.18);
		-webkit-box-shadow:	inset 0px 1px 3px rgba(0,0,0,.18);
		-moz-box-shadow:	inset 0px 1px 3px rgba(0,0,0,.18);
	}	
	#sign-in .actions {
		margin-top: 20px;
	}
#new_user, #sign-in {
	margin: 20px auto;
	padding: 30px 40px;
	border: 1px solid #ddd;
	box-shadow: 		0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow:	0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow:	0 0 10px rgba(0,0,0,.1);
	border-radius:			3px;
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	color: #777;
}
#new_user {
	width: 540px;
}	
	#new_user h3 {
		padding-bottom: 20px;
	}
	#new_user .field, #sign-in .field {
		padding: 0 0 16px 0;
	}
		#new_user .field input, #sign-in input {
			border-radius:			3px;
			-webkit-border-radius:	3px;
			-moz-border-radius:		3px;
			border: 1px solid #ccc;
			box-shadow: 		inset 0 1px 3px rgba(0,0,0,.12);
			-webkit-box-shadow:	inset 0 1px 3px rgba(0,0,0,.12);
			-moz-box-shadow:	inset 0 1px 3px rgba(0,0,0,.12);
			font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
			font-size: 12px;
			color: #abafb2;
			padding: 8px 5px;
		}
		#new_user .field input:focus {
			color: #666;
		}
		#new_user .right .field label, #sign-in .field label {
			line-height: 20px;
			font-family: "Droid Sans", sans-serif;		
		}
		#new_user .right .field input {
			width: 255px;
		}
	#new_user .social .field, #new_user .right {
		text-align: left;
	}
		#new_user .social .field input {
			width: 205px;
		}
		#new_user .social {
			padding-top: 20px;
		}
		#new_user .social .field label {
			padding: 0 5px;
		}
			#new_user .social .field label.twitter {
				background: url(../images/twitter_bird.png) no-repeat left center;
				padding-left: 30px;
			}
	#new_user .avatar label {
		width: 200px;
		height: 200px;
		background: #eff3f7;
		border: 2px dashed #d2e1ec;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		text-align: center;
		display: block;
		color: #738695;
		font-size: 12px;
		line-height: 200px;
		margin-right: 15px;
		margin-bottom: 10px;
	}
	#new_user .avatar label:hover {
		color: #4b5761;
		background: #ebeff2;
	}
	#new_user .avatar, #new_user .personal, #new_user .social {
		width: 50%;
	}
	#new_user .avatar p {
		font-size: 11px;
		color: #aaa;
		font-family: "Droid Sans", sans-serif;
		padding: 5px 0;
	}
	#new_user .missions {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		width: 100%;
		margin: 30px 0;
		padding: 20px 0;
	}
		#new_user .missions .field {
			text-align: center;
		}
		#new_user .missions .field input {
			width: 324px;
			font-style: italic;
			margin: 0 5px;
		}
	#new_user .actions {
		text-align: right;
		position: relative;
	}
	#new_user .actions a {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: middle;
		padding: 0 20px;
		color: #aaa;
		font-size: 12px;
		font-family: "Droid Sans", sans-serif;		
	}
	#new_user .actions a:hover { color: #777; text-decoration: underline; }
	#new_user .actions .add-button {
		text-indent: -9999px;
		background: url(../images/add_button.png) no-repeat center bottom;
		display: inline-block;
		zoom: 1;
		*display: inline;
		vertical-align: middle;
		height: 26px;
		width: 127px;
		padding: 0 0 0 10px;
		border: 0px solid transparent;
		
	}
	#new_user .actions .add-button:hover { background: url(../images/add_button.png) no-repeat center center; }
	#new_user .actions .add-button:active { background: url(../images/add_button.png) no-repeat center top; }


a {
	text-decoration: none;
}
p {
	margin: 5px 0;
}

input[type=search] {
	font-size: 18px;
}
h1 {
	 font-weight: 300;
	 color: black;
	 font-size: 26px
}
h1 span {
  color: #999;
  font-size: 18px;
  display: block;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	margin: 30px 0 10px;
	line-height: 30px;
	font-family: Georgia, serif;
}
h3 {
	font-family: "Droid Sans", sans-serif;
	color: #222;
	font-size: 14px;
	padding: 10px 0;
}
h4 {
	font-weight: 300;
	font-size: 24px;
	margin-top: 30px;
}

fieldset {
  border: none;
}

#error_explanation {
  margin-bottom: 30px;
}

#error_explanation ul li {
  list-style: none;
  margin: 12px;
  color: #bd2c00;
}
form h2 {
	margin: 0 0 25px 0;
	color: #333;
}

fieldset ol {
  list-style: none;
}

@media (max-width:600px) {
	h3,
	#filter {
		position: static;
		display: block;
	}	
	#about {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}