* { 
	margin: 0; 
	padding: 0; 
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.3;
	background: black;
}
#logo a {
	display: block;
	width: 320px;
	height: 46px;
	background: url(../images/logo.png);
	text-indent: -9999px;
}
a {
	text-decoration: none;
}
p {
	margin: 5px 0;
}

input[type=search] {
	font-size: 18px;
}
h1 {
	 font-weight: 300;
	 color: black;
	 font-size: 26px
}
h1 span {
  color: #999;
  font-size: 18px;
  display: block;
}

h2 {
	font-weight: 300;
	font-size: 30px;
	margin: 30px 0 20px;
	line-height: 40px;
	font-family: Georgia, serif;
}
h3 {
	background: rgba(255, 0, 0, 0.8);
	color: white;
	padding: 3px 6px;
	text-indent: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	position: absolute;
	width: 300px;
	top: 0;
	left: 0;
}
h4 {
	font-weight: 300;
	font-size: 24px;
	margin-top: 30px;
}

.tag {
	font-family: Helvetica, Arial, sans-serif;
	padding: 3px 0;
	font-size: 12px;
	line-height: 16px;
}

#people {
	padding: 130px 0;
	text-align: center;
	line-height: 0.7
}

#about {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.button {
	border: 1px solid #8cbc32;
	background-color: #8cbc32;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0d961), to(#8cbc32)); 
	background-image: -webkit-linear-gradient(top, #b0d961, #8cbc32); 
	background-image:    -moz-linear-gradient(top, #b0d961, #8cbc32); 
	background-image:     -ms-linear-gradient(top, #b0d961, #8cbc32); 
	background-image:      -o-linear-gradient(top, #b0d961, #8cbc32); 
	padding: 6px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.9);
	-moz-box-shadow:    inset 0 1px 1px rgba(255,255,255,0.9);
	box-shadow:         inset 0 1px 1px rgba(255,255,255,0.9);
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	box-shadow: none;
	border: 1px solid #8cbc32;
	background-color: #b0d961;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8cbc32), to(#b0d961)); 
	background-image: -webkit-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:    -moz-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:     -ms-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:      -o-linear-gradient(top, #8cbc32, #b0d961); 	
}
.button:active {
	border: 1px solid #8cbc32;
	background-color: #b0d961;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8cbc32), to(#b0d961)); 
	background-image: -webkit-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:    -moz-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:     -ms-linear-gradient(top, #8cbc32, #b0d961); 
	background-image:      -o-linear-gradient(top, #8cbc32, #b0d961);
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25);
	-moz-box-shadow:    inset 0 1px 5px rgba(0,0,0,0.25);
	box-shadow:         inset 0 1px 5px rgba(0,0,0,0.25);
}

.button img {
	position: relative;
	top: 2px;
	padding-right: 4px;
}

.person {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: white;
  margin: 5px;
}
.person img {
	display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.person .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  padding: 15px;
  color: white;
}

.person .overlay a {
	color: white;
}

.person:hover .overlay {
  display: block;
}

.tags {
	position: absolute;
	bottom: 30px;
	left: 15px;
	right: 15px;
}
.person .tags a {
	background: white;
	color: black;
	padding: 3px 6px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 12px;
}

.icons {
	padding: 10px 0;
}

.icons a {
	display: inline-block;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
	border-radius:         5px;
	text-indent: -9999px;
	margin: 0 3px;
}
.icons a:hover {
	-webkit-box-shadow: 0 0 5px white;
	-moz-box-shadow:    0 0 5px white;
	box-shadow:         0 0 5px white;
}
.icons .twitter {
	background: url(../images/twitter_icon.png);
}
.icons .link {
	background: url(../images/link_icon.png);
}
.icons .email {
	background: url(../images/email_icon.png);
}

#search-and-add {
	position: absolute;
	top: 29px;
	right: 10px;
}

#filter {
	background-color: #333;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 20px;
	color: white;
	font-size: 18px;
}
#filter input[type=search] {
	position: absolute;
	right: 55px;
	top: 10px;
}
#filter * {
	vertical-align: middle;
}

fieldset {
  border: none;
}

#filter select {
	margin: 0 5px;
}

#error_explanation {
  margin-bottom: 30px;
}

#error_explanation ul li {
  list-style: none;
  margin: 12px;
  color: #bd2c00;
}
fieldset {
  border: none;
}

form {
	text-align: left;
	color: white;
	padding: 20px;
}
form h2 {
	margin: 0 0 25px 0;
	color: #ffdc88;
}

form input[type=text], form input[type=password] {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 5px;
}

fieldset ol {
  list-style: none;
}

form .field, fieldset li {
	margin: 0 0 20px 0;
	border-left: 5px solid #ffdc88;
	padding: 0 0 0 15px;
}

label {
	display: block;
	margin: 0 0 8px 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #666;
	padding: 10px;
  	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7);
}

#wufoo {
  display: none;
	position: absolute;
	left: 0;
	bottom: 35px;
}
footer a {
	color: white;
	cursor: pointer;
}

#counted {
  position: absolute;
  text-align: center;
	width: 100%;
	top: 10px;
}

#about-us {
	position: absolute;
	right: 10px;
	top: 10px;
}
#about-text {
  display: none;
	position: absolute;
	bottom: 35px;
	right: 10px;
	background: white;
	width: 400px;
	padding: 20px;
	color: black;
}
#about-text ul {
	margin: 0 0 15px 25px;
}

#about-text a {
	color: #247eca;
	border-bottom: 1px dotted #247eca;
}
#about-text a:hover {
	border-bottom-style: solid;
}

@media (max-width:600px) {

	h3,
	#about-us,
	#logo,
	#search-and-add,
	#filter,
	#filter input[type="search"],
	#contact,
	#about-us,
	#about-text {
		position: static;
		display: block;
	}
	
	#search-and-add {
		padding: 5px 0 20px; 
	}
	
	#logo {
		margin: 20px auto;
	}
	
	#logo a {
		margin: 0 auto;
	}
	
	#about {
		height: auto;
		padding: 0;
		text-align: center;
		padding: 10px 0 0 0;
	}
	
	#search {
		margin: 10px auto;
		width: 80%;
	}
	
	#filter {
		text-align: center;
		padding: 10px 0;
	}
	
	#contact {
		margin: 0 0 20px 0;
	}
	
	#about-text {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#wufoo {
		position: relative;
		bottom: auto;
		width: auto;
	}
	
	footer,
	#about {
		position: relative;
	}
	footer > div > a {
		display: block;
		margin: 0 0 10px 0;
	}
		
}

#navigation {
  float: right;
  margin-right: 20px;
}

#navigation li {
  display: inline;
  font-size: 12px;
  margin-right: 20px;
}

#navigation li a {
  color: #fff;
}
