<% unless current_user %>
<li><%= link_to "Sign in", login_path %></li>
<% else %>
<li><%= link_to "Profile", edit_user_path(current_user) %></li>
<li><%= link_to "Sign out", logout_path %></li>
<% end %>
