<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You forgot your password?</h1>
    <p>
      Just follow this link to reset your password:
      <br/>
      <%= @host + "/password/#{@password_token}/edit" %>
    </p>
  </body>
</html>