<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>ZOMG?! How could you forget your Noladex password?!?!</h1>
    <p>
      No worries!
      <br/>
			Just follow this link to set your password:
    </p>
		<p>
			<%= @host + "/password/#{@password_token}/edit" %>
		</p>
  </body>
</html>