<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi!  Noladex is giving out passwords now!</h1>
    <p>
      You can finally log into your account to edit stuff!

			Just follow this link to set your password:
    </p>
		<p>
			<%= @host + "/password/#{@password_token}/edit" %>
		</p>
  </body>
</html>