<%= semantic_form_for @user_session, :url => "/user_session/" do |f| %>
  <h2>+Sign in</h2>
  <%= f.inputs :email, :password %>
  <%= f.buttons do %>
    <%= f.submit "Sign in", :class => 'button' %>
	<% end %>
<% end %>