<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	
	<title>NOLADEX</title>
	
	<link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
	<section id="about">
		
		<h1 id="logo">NOLADEX</h1>
		
		<div id="search-and-add">
			<a href="/users/new" id="add-yourself" class="button">ADD YOURSELF</a>
		</div>
		
		<div id="filter">
			These are people who:
			<%= select_tag("categories", options_from_collection_for_select(Category.all, "id", "name")) %>
			
			<input type="search" name="search" id="search" results="5">
			
		</div>
	</section>
	
	<section id="people">
	
		<%= yield %>
	
	</section>
	
	<footer>
		
		
		<div class="contact">
			<a href="#">Contact NOLADEX</a>
			<div style="display: none">
				<script>var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

				<script>
				var z7x3k7 = new WufooForm();
				z7x3k7.initialize({
				'userName':'noladex', 
				'formHash':'z7x3k7', 
				'autoResize':true,
				'height':'455'});
				z7x3k7.display();
				</script>
			</div>
		</div>
	</footer>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="js/nola.js"></script>
	
</body>

</html>
